# Every change in this repository requires review from the SDK team.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @rudderlabs/sdk_team
